<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>


        <u1>
            <li th:each="kysymys: ${kysymykset}">
                <h2 th:text="${kysymys.kurssi}">kurssinnimi</h2>
                <h3 th:text="${kysymys.aihe}">kysymysaihe</h3>
                <a th:href="@{~/kysymys/{id}(id=${kysymys.id})}">
                    <span th:text="${kysymys.kysymysteksti}">User</span>
                </a>
                <br></br>
            </li>
        </u1>

        <h2>Luo uusi kysymys</h2>
        <form method="POST" action="/lisaaKysymys">
            <table>
                <tr>
                    <td>Kurssi:</td>
                    <td>
                        <input type="text" name="kurssinNimi"/>
                    </td>
                </tr>
                <tr>
                    <td>Aihe:</td>
                    <td>
                        <input type="text" name="aihe"/>
                    </td>
                </tr>
                <tr>
                    <td>Kysymysteksti:</td>
                    <td>
                        <input type="text" name="kysymysteksti"/>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Lisää kysymys"/>
        </form>

    </body>
</html>
