<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>  </title>
        <meta charset="UTF-8">
        </meta>
    </head>

    <body>

        <h2 th:text="${'Kysymys: ' + kysymys.kysymysteksti}">teksti</h2>
        <p th:text="${'Kurssi: ' + kysymys.kurssi}">kurssi</p>
        <p th:text="${'Kysymyksen aihe: ' + kysymys.aihe}">aihe</p>

        <br></br>

        <p>Vastausvaihtoehdot:</p>

        <ul>
            <li th:each="vastaus: ${vastaukset}">
                <span th:text="${vastaus.vastausteksti}">teksti</span>
                <strong> 
                    <span th:if="${vastaus.oikein}">Oikein</span> 
                    <span th:unless="${vastaus.oikein}">Väärin</span>
                </strong>
                <form method="POST" action="/poistaVastaus">
                    <input type="hidden" name="vastausId" th:value="*{vastaus.id}"/>
                    <input type="submit" value="Poista vastaus"/>
                </form>
            </li>
        </ul>

        <br></br>

        <h3>Luo uusi vastausvaihtoehto</h3>
        <form method="POST" action="/lisaaVastaus">
            <input type="hidden" name="kysymysId" th:value="*{kysymys.id}"/>
            <table> 
                <tr>
                    <td>Vastausteksti:</td>
                    <td>
                        <input type="text" name="vastausteksti" th:required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>Onko vastaus oikein?</td>
                    <td>
                        <input type="checkbox" name="oikein"/>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Lisää vastausvaihtoehto"/>
        </form>
        
        <br></br>

        <a th:href="@{~/}">
            <span>Palaa aloitussivulle</span>
        </a>

    </body>
</html>
