<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>  </title>
        <meta charset="UTF-8">
        </meta>
    </head>

    <body>

        <h1 th:text="${kysymys.kysymysteksti}">teksti</h1>

        <br></br>

        <h2 th:text="${kysymys.kurssi}">kurssi</h2>
        <h2 th:text="${kysymys.aihe}">aihe</h2>

        <br></br>

        <ul>
            <li th:each="vastaus: ${vastaukset}">
                <p th:text="${vastaus.vastausteksti}">teksti</p>
            </li>
        </ul>

    </body>
</html>
